@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono", monospace;
}

.container {
    width: 1440px;
    height: 3381px;
    margin: auto;
    overflow-x: hidden;
}

.content1 {
    width: 1440px;
    height: 757px;
}

.content1 nav {
    width: 1440px;
    height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content1 nav .n1 {
    display: flex;
    gap: 60px;
    margin-left: 169px;
}

.img {
    height: 50%;
}

.imgh {
    width: 180px;
    height: 53px;
    margin-right: 169px;
}

.background-img {
    width: 1440px;
    height: 650px;
    background-size: cover;
    position: relative;
    bottom: 38px;
    background-image: url('./img/background.jpg');
}

.background-img h1 {
    color: white;
    width: 500px;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -2.5px;
    position: relative;
    left: 169px;
    top:100px;
}
.background-img p{
    width: 405px;
    font-size: 15px;
    position: relative;
    left: 300px;
    top: 100px;
    font-family: 900;
    color: white;
}
.line{
    position: relative;
    top: 150px;
}
.strelka{
    position: relative;
    left: 800px;
}
.btn{
    position: relative;
    left: -100px;
    top: 30px;
}
.content2{
    height: 2624px;
    width: 1440px;
}
.len{
    background-color: gray;
    width: 954px;
    height: 15px;
    position: relative;
    top: 240px;
}
.logo{
    position: relative;
    top: 180px;
    left: 165px;
}
.logo2{
    position: relative;
    bottom: 100px;
    left: 550px;
}
.logo3 {
    position: relative;
    left: 910px;
    bottom: 375px; 
}
.txt1 {
    height: 156px;
    width: 300px;
    position: relative;
    top: 200px;
    left: 160px;
}
.txt1 h2 {
    font-size: 24px;
    width: 300px;
}
.txt1 p {
    font-size: 15px;
    width: 300px;
}
.txt2 {
    height: 156px;
    width: 300px;
    position: relative;
    top: -77.5px;
    left: 530px; 
}
.txt2 h2 {
    font-size: 24px;
    width: 300px;
}
.txt2 p {
    font-size: 15px;
    width: 300px;
}
.txt3 {
    height: 156px;
    width: 300px;
    position: relative;
    top: -355px;
    left: 900px; 
}
.txt3 h2 {
    font-size: 24px;
    width: 300px;
}
.txt3 p {
    font-size: 15px;
    width: 300px;
}
.imgimg1{
    position: relative;
    bottom: 50px;
    left: 720px;
}
.imgtxt1{
    position: relative;
    bottom: 450px;
    margin-left: 50px;
}
.imgimg2{
    position: relative;
    bottom: 150px;
    right: 350px;
}
.imgtxt2{
    position: relative;
    bottom: 530px;
    left: 900px;
}
.imgimg3{
    position: relative;
    bottom: 250px;
    left: 800px;
}
.imgtxt3{
    position: relative;
    bottom: 600px;
    margin-left: 50px;
}





/*media */
@media (max-width:768px){
    .container{
        width:768px;
        overflow-x:hidden;
    }
    .n1{
        position:relative;
        left:-130px;
    }
    .imgh{
        position:relative;
        left:-530px;
    }
    .background-img h1{
        text-align:center;
    }
    .background-img p {
        position:relative;
        left:200px;
    }
    .line{
        visibility:hidden;
    }
    .strelka{
        position:relative;
        left:-70px;
        top:170px;
    }
    .btn{
        left:-230px;
    }
    .len{
        width:15px;
        height:954px;
        position:relative;
        left:50px;
        top:0px;
    }
    .logo{
        position:relative;
        top:-760px;
        left:10px;
    }
    .logo2{
        position:relative;
        top:-710px;
        left:10px;
    }
    .logo3{
        position:relative;
        top:-640px;
        left:10px;
    }
    .txt1{
        position:relative;
        top:-950px;
    }
    .txt1 h2{
        width:400px;
        font-size:40px;
    }
    .txt1 p {
        width:500px;
        font-size:20px
    }
    .txt2 {
        position:relative;
        top:-900px;
        left:160px;
    } 
    .txt2 h2 {
        font-size: 40px;
        width:400px;
    }
    .txt2 p{
        font-size:20px;
        width:500px
    }
    .txt3{
        position:relative;
        top:-835px;
        left:160px;
    }
    .txt3 h2 {
        font-size:40px;
        width:400px;
    }
    .txt3 p {
        font-size:20px;
        width:500px;
    }
    .imgimg1{
        position:relative;
        top:-650px;
        left: 0px;
    }
    .imgtxt1{
        position:relative;
        top:-550px;
        left:60px;
        width:650px;
    }
    .imgimg2{
        position:relative;
        top:-400px;
        right:231px;
    }
    .imgtxt2{
        position:relative;
        top:-350px;
        left:100px;
        width:650px;
    }
    .imgimg3{
        position:relative;
        left:0px;
    }
    .imgtxt3{
        position:relative;
        bottom:200px;
        left:80px;
        width:650px;
    }
}
